<h1>Create user form</h1>

<form method="POST" th:action="@{/users}" th:object="${user}">
  <label for="login">Login:</label>
  <input type="text" th:field="*{login}" />

  <span
    class="validationError"
    th:if="${#fields.hasErrors('login')}"
    th:errors="*{login}"
    >Login Error
  </span>
  <br />

  <label for="password">Password:</label>
  <input type="password" th:field="*{password}" />

  <span
    class="validationError"
    th:if="${#fields.hasErrors('password')}"
    th:errors="*{password}"
    >Password Error
  </span>
  <br />

  <label for="email">Email:</label>
  <input type="text" th:field="*{email}" />

  <span
    class="validationError"
    th:if="${#fields.hasErrors('email')}"
    th:errors="*{email}"
    >Email Error
  </span>
  <br />

  <label for="userType">User Type:</label>
  <select th:field="*{userType}">
    <option
      th:each="userType : ${userTypes}"
      th:value="${userType}"
      th:text="${userType}"
    >
      User Type
    </option>
  </select>

  <input type="submit" value="Create" />
</form>
