<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Example of valid form</title>
  </head>
  <body>
    <h1>Welcome to application</h1>
    <a th:href="@{/create}" id="create">Create person</a>
    <a th:href="@{/users}" id="users">Users</a>
  </body>
</html>
