<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Example of valid form</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  <body>
    <a href="/">Home</a>
    <div th:replace="form.html"></div>

    <h1>Users</h1>
    <div class="user" th:each="user : ${users}">
      <p th:text="${user.login}"></p>
      <p th:text="${user.email}"></p>
      <p th:text="${user.userType}"></p>
    </div>
  </body>
</html>
