<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>App</title>
  </head>
  <body>
    <div>
      <a href="/list">Użytkownicy</a>
      <h1>Dane użytkownika</h1>
      <p>Imię: <span th:text="${user.name}" /></p>

      <p>Identyfikator: <span th:text="${user.id}" /></p>

      <p>
        Wiek: <span th:text="${user.age}" />
        <span th:if="${user.age > 35}">(Powyżej średniej)</span>
      </p>

      <p>
        Rola:
        <span th:switch="${user.userType.toString()}">
          <span th:case="'ADMIN'">Administrator</span>
          <span th:case="'GUEST'">Gość</span>
          <span th:case="'REGISTERED'">Zarejestrowany</span>
          <span th:case="*">Nieznana rola</span>
        </span>
      </p>

      <p>
        Data rejestracji:
        <span
          th:text="${#dates.format(user.registrationDate, 'yyyy-MM-dd HH:mm')}"
        />
      </p>
    </div>
    <div>
      <p>
        Czy Artur jest na stronie:
        <span th:text="${user.name == 'Artur' ? 'TAK' : 'NIE'}" />
      </p>
    </div>
    <div th:if="${user.getDaysSinceRegistration() > 200 and user.age < 30}">
      <h3>Witaj <span th:text="${user.name}" />!</h3>
      <h4>
        od Twojej rejestracji minęło
        <span th:text="${user.getDaysSinceRegistration()}" /> dni.
      </h4>
    </div>
  </body>
</html>
