<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>App</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
      }
      a {
        display: block;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <a href="/">Strona główna</a>
    <table>
      <tr>
        <th>Lp</th>
        <th>Imię</th>
        <th>Wiek</th>
        <th>Rola</th>
        <th>Data rejestracji</th>
        <th>Dni od rejestracji</th>
      </tr>
      <tr th:each="user, iterStat : ${users}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:switch="${user.userType.toString()}">
          <span th:case="'ADMIN'">Administrator</span>
          <span th:case="'GUEST'">Gość</span>
          <span th:case="'REGISTERED'">Zarejestrowany</span>
          <span th:case="*">Nieznana rola</span>
        </td>
        <td
          th:text="${#dates.format(user.registrationDate, 'yyyy-MM-dd HH:mm')}"
        ></td>
        <td th:text="${user.getDaysSinceRegistration()}"></td>
      </tr>
    </table>
  </body>
</html>
